*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.hero{
  background-color:lightgray;
  height: 50px;
}
nav{
  display:flex;
  align-items: center;
  justify-content: space-between;
}
nav ul li{
  list-style-type: none;
  display: inline-block;
  padding: 10px 20px;
  margin-right: 20px;
}
nav ul li a{
  color: black;
  font-weight: bold;
}
.iner-footer{
  margin: 0;
  padding: 0;
  background-color: lightgray;
  justify-content: space-between;
}
.social-links{
  display: flex;
}
.social-links ul{
  display: flex;  
  margin: auto;
}
.social-items{
  list-style:none;
}
.social-items a{
  padding:10px 35px;
  font-size: 35px;
  color:black;
}
.footer-p{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
